.form-car {
  margin: 0 auto;
  width: 80%;
}

.form-group {
  margin: 8px;
}

label {
  font-weight: bold;
}

.form-control {
  margin: 8px 0 32px 0;
}

.form-control input {
  box-sizing: border-box;
  border: none;
  padding: 0.5rem;
  width: 100%;
  height: 2rem;
}

.form-validation {
  position: absolute;
  margin: 4px;
  color: red;
  font-size: 0.8rem;
}